<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">

        let tags = [];

        function goBoardDetail(value) {
            console.log(value);
            $.ajax({
                contentType: "application/json",
                url: "/",
                type: "GET",
                dataType: "text",
            }).done(function (res) {
                console.log(res);
                window.location.replace("/board/boardDetail?teamId="+value);
            });
        }

        function getTag() {
            console.log(document.getElementById("tag").value);
            let tag = document.getElementById("tag").value;
            tags.push(tag);
        }

        function requestTagsApi() {
            let all = {tags}

            console.log(all);

            $.ajax({
                contentType: "application/json",
                url: "/api/tags",
                type: "POST",
                data: JSON.stringify(all),
                dataType: "json",
            }).done(function (res) {
                console.log(res);
            });
        }
    </script>
    <center><a href="/board/create">팀 만들기(글쓰기)</a></center>
    <!--  <div th:if="${!teamList.isEmpty()}">-->
    <p><a href="/board?category=운동">운동</a></p>
    <p><a href="/board?category=게임">게임</a></p>
    <p><a href="/board?category=스터디">스터디</a></p>
    <p><input id="tag" name="tag"><input value="태그 추가" type="button" onclick="getTag()"></p>
    <p><input value="게시판 요청하기" type="button" onclick="requestTagsApi()"></p>
    <table>
        <tr>
            <th>글 ID</th>
            <th>제목</th>
            <th>카테고리</th>
            <th>현재 인원</th>
        </tr>
        <tr th:each="teamList : ${teamList.getContent()}">
            <td><input type="button" name="teamId" th:value="${teamList.getId()}" onclick="goBoardDetail(value)"/></td>
            <td th:text="${teamList.getTitle()}"></td>
            <td th:text="${teamList.getCategory()}"></td>
            <td th:text="${teamList.getCurrentMember()}+'/'+${teamList.getMaxMember}"></td>
        </tr>
    </table>

</body>
</html>