<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성(팀 만들기)</title>
</head>
<body>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        const requestCreateTeamDTO = {
            title: null,
            content: null,
            max_member: null,
            tags: [],
            category: null,
            present: null,
            teamName: null,
        }

        function categoryCheck() {
            const genderNodeList = document.getElementsByName('category');

            genderNodeList.forEach((node) => {
                if (node.checked) {
                    if (node.value === "운동") {
                        requestCreateTeamDTO.category = '운동';
                    } else if (node.value === '스터디') {
                        requestCreateTeamDTO.category = '스터디';
                    } else {
                        requestCreateTeamDTO.category = '게임'
                    }
                }
            })
        }

        function createTeam() {
            requestCreateTeamDTO.title = document.getElementById("title").value;
            requestCreateTeamDTO.content = document.getElementById("content").value;
            requestCreateTeamDTO.max_member = document.getElementById("max_member").value;
            requestCreateTeamDTO.tags[0] = {tag: document.getElementById("tags").value};
            requestCreateTeamDTO.present = document.getElementById("present").value;
            requestCreateTeamDTO.teamName = document.getElementById("teamName").value;

            console.log(requestCreateTeamDTO);

            $.ajax({
                contentType: "application/json",
                url: "/api/post/complete",
                headers: {'Authorization': sessionStorage.getItem("token")},
                type: "POST",
                dataType: "text",
                data: JSON.stringify(requestCreateTeamDTO),
            }).done(function (res) {
                console.log(res);
                if (res === "미 로그인 상태") {
                    alert("로그인 후 게시글 생성 가능합니다");
                    window.location.replace("/loginPage");
                } else {
                    alert("팀 생성이 완료 되었습니다");
                    window.location.replace("/board");
                }
            })
                .fail(function (res) {
                    console.log(res);
                    alert("알수없는 에러가 발생하였습니다.");
                });
        }
    </script>

    <center><h2>팀 만들기(게시글 만들기)</h2></center>
    <strong>제목 : </strong>
    <span><input id="title"></span>
    <hr/>
    <strong>내용 : </strong>
    <span><textarea id="content"></textarea></span>
    <br/>
    <strong>최대인원 : </strong>
    <span><input id="max_member"></span>
    <br/>
    <strong>태그 : </strong>
    <span><input id="tags"></span>
    <br/>
    <strong>팀 소개 : </strong>
    <span><input id="present"></span>
    <br/>
    <strong>팀 이름 : </strong>
    <span><input id="teamName"></span>
    <br/>
    <strong>카테고리 : </strong>
    <span>
          <input type="radio" name="category" value="운동" onclick="categoryCheck()">운동
          <input type="radio" name="category" value="게임" onclick="categoryCheck()">게임
          <input type="radio" name="category" value="스터디" onclick="categoryCheck()">스터디
        </span>
    <br/>
    <P><input type="button" onclick="createTeam()" value="팀 생성"></P>


</body>
</html>