<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team UP!</title>
    <style>
        pre {
            overflow: scroll;
        }
    </style>
</head>
</html>
<body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            contentType: "application/json",
            type: "GET",
            url: "/thymeleaf/getUsername",
            headers: {'Authorization': sessionStorage.getItem("token")},
            dataType: "json",
        }).done(function (res) {
            console.log("응답 성공");
            console.log(res.username);
            if (res.username !== null) {
                sessionStorage.setItem("username", res.username);
                const loginMypage = document.getElementById("login/mypage");
                loginMypage.innerHTML = `<a href="/myPage" id="login/mypage">마이페이지</a>`;
                const joinLogout = document.getElementById("join/logout");
                joinLogout.innerHTML = `<a href="/logout" id="join/logout">로그아웃</a>`;
            }
        })
            .fail(function (res) {
                console.log(res);
                alert("알수없는 에러가 발생하였습니다");
            });
    </script>

    <center><h2>TeamUP!</h2></center>
    <p><a href="/board">게시판</a></p>
    <hr/>
    <p><a href="/oauth2LoginPage">SNS 로그인</a></p>
    <hr/>
    <p><a id="login/mypage" href="/loginPage">일반 로그인</a></p>
    <hr/>
    <p><a id="join/logout" href="/joinPage">회원가입</a></p>
    <hr/>
</body>