<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        const userInfo ={
            username : null,
            password : null
        }

        function login() {
            userInfo.username = document.getElementById("username").value;
            userInfo.password = document.getElementById("password").value;

            console.log(userInfo);
            var response;
            response = $.ajax({
                contentType: "application/json",
                url: "/login",
                type: "POST",
                dataType: "text",
                data: JSON.stringify(userInfo),
            }).done(function (res) {
                console.log(response.getResponseHeader("Authorization"));
                window.sessionStorage.setItem("username", userInfo.username);
                window.sessionStorage.setItem("token",response.getResponseHeader("Authorization"));
                window.location.replace("/");
            })
                .fail(function (res) {
                    console.log(res);
                });
        }
    </script>

    <center><h2>로그인</h2></center>
    <strong>아아디 : </strong>
    <span><input id="username"></span>
    <br/>
    <strong>비밀번호 : </strong>
    <span><input id="password"></span>
    <br/>
    <P><input type="button" onclick="login()" value="로그인"></P>

</body>
</html>