<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNS로그인 인증중..</title>
</head>
<body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        let req = new XMLHttpRequest();
        console.log(req.getAllResponseHeaders());
        var name = "Authorization";
        var answer;
        var nameOfCookie = name + "="; //쿠키는 "쿠키=값" 형태로 가지고 있어서 뒤에 있는 값을 가져오기 위해 = 포함
        var x = 0;
        while (x <= document.cookie.length) { //  --현재 세션에 가지고 있는 쿠키의 총 길이를 가지고 반복
            var y = (x + nameOfCookie.length); //substring으로 찾아낼 쿠키의 이름 길이 저장
            if (document.cookie.substring(x, y) == nameOfCookie) { //잘라낸 쿠키와 쿠키의 이름이 같다면
                if ((endOfCookie = document.cookie.indexOf(";", y)) == -1) //y의 위치로부터 ;값까지 값이 있으면
                    endOfCookie = document.cookie.length; //쿠키의 길이로 적용하고
                answer = unescape(document.cookie.substring(y, endOfCookie)); //쿠키의 시작점과 끝점을 찾아서 값을 반환
            }
            x = document.cookie.indexOf(" ", x) + 1; //다음 쿠키를 찾기 위해 시작점을 반환
            if (x == 0) { //쿠키 마지막이면
                break; //반복문 빠져나오기
            }
        }
        answer = answer.replace("Bearer+", "Bearer ")
        console.log(answer);
        window.sessionStorage.setItem("token", answer);
        window.location.replace("/");
    </script>
</body>
</html>