<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>팀 상세내용</title>
</head>
<body>

    <center><h3>팀 상세내용</h3></center>
    <strong>팀 아이디 : </strong>
    <input type="hidden" id="teamId" th:value="${teamId}" th:text="${teamId}">
    <hr/>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            contentType: "application/json",
            url: "/api/team?teamId="+document.getElementById("teamId").value,
            headers: {'Authorization': sessionStorage.getItem("token")},
            type: "GET",
            dataType: "json",
        }).done(function (res) {
            console.log(res);
        });
    </script>

</body>
</html>